<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LoLFlask</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',     filename='styles/template.css') }}">

  </head>
  <body>
    <header>
      <h1 class="logo">LoLFlask</h1>
      <strong><nav>
        <ul class="menu">
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
        </ul>
      </nav></strong>
    </header>

{% block content %}
{% endblock %}

 </body>
</html>
